*,*:before,*:after{
    box-sizing: border-box;
  }
blockquote,  dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, pre, td, textarea, th, ul{margin:0;padding:0;list-style:none;}


.full_screen{
    width: 100vw;
    height: 100vh;
}

.flex{
    display: flex
}

.flex_center{
    @extend .flex;
    justify-content: center;
    align-items: center;
}