<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title>
      信笺
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container >
      <ion-card *ngFor="let item of navList" (click)="onRoute(item)">
        <ion-img [src]="item.imgSrc"></ion-img>
        <ion-card-header>
          <ion-card-title>
            {{item.title}}
          </ion-card-title>
        </ion-card-header>
      </ion-card>
  </ng-container>


</ion-content>
